<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bank_sampah"
        tools:targetApi="31">
        <activity
            android:name=".activity.admin.InformasiActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.RequestOutliteActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.TambahAdminActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin_outlite.Pencairan_Outlite_Activity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin_outlite.Jemput_Outlite_Activity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin_outlite.Sedekah_Outlite_Activity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.RiwayatActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.KategoriActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.ListBankActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.PetaActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDy897GkxfRXnVu2ny6LBClumM2BBBdOc0" />
        </activity>
        <activity
            android:name=".activity.user.SedekahActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.JemputActivity"
            android:exported="false"
            android:theme="@style/Theme.Bank_sampah.JemputActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.CariBankSampahActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenungguAktivasiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.InpurOutliteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SuperAdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOutliteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.RegisterOutliteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.AwalActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.maintenanceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>